<!DOCTYPE html>
<html lang=”en”>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}Cell Evolution</title>
    <link href="static/style.css" rel="stylesheet">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    {% endblock %}
  </head>
  <body>
  <center>
    <div id="content">
      {% block header %}<h1 id="header">WELCOME TO CELL EVOLUTION!</h1>{% endblock %}
      {% block content %}
      <ul>
        {% for cell in data %}
          <li>{{ cell.color }}</li>
        {% endfor %}
      </ul>
        <svg width="700" height="600"> 
          <circle id="salmonCircle" cx="150" cy="100" r="10"></circle>
          <circle id="salmonCircle" cx="350" cy="100" r="10"></circle>
          <circle id="salmonCircle" cx="550" cy="100" r="10"></circle>
        
          <circle id="purpleCircle" cx="150" cy="300" r="10"></circle>
          <circle id="purpleCircle" cx="350" cy="300" r="10"></circle>
          <circle id="purpleCircle" cx="550" cy="300" r="10"></circle>
          
          <circle id="blueCircle" cx="150" cy="500" r="10"></circle>
          <circle id="blueCircle" cx="350" cy="500" r="10"></circle>
          <circle id="blueCircle" cx="550" cy="500" r="10"></circle>
        </svg>
        <script>
          var data = '{{ data }}';
          
          var svg = d3.select("svg");
        
          var circle = svg.selectAll("circle")
            .data(data)
            .style("fill", "#0bc97f");//function(d) { return d.color; console.log(d.color); });
          
          //circle
            //.enter().append("circle")
            //.style("fill", "red");
            //.style("fill", function(d) { return d.color; });
            
          svg.selectAll("circle")
            .data(data)
            .enter().append("circle")
            .style("fill", function(d) { return d.color; })
            .attr("cx", function() { return Math.random() * 680; })
            .attr("cy", function() { return Math.random() * 580; });
            
          circle.exit().remove();
          
          //var salmonCircle = d3.selectAll("#salmonCircle");
          //salmonCircle.style("fill", "LightSalmon");
        
          //var purpleCircle = d3.selectAll("#purpleCircle");
          //purpleCircle.style("fill", "BlueViolet");
          
          //var blueCircle = d3.selectAll("#blueCircle");
          //blueCircle.style("fill", "DarkTurquoise");
          
          circle.style("stroke", "black");
          circle.style("stroke-width", "3");
          circle.attr("r", 15);
          
          function cellMove() {
            circle
              .transition()
              .duration(10000)
              .ease("linear")
              .attr("cx", function() { return Math.random() * 680; })
              .attr("cy", function() { return Math.random() * 580; });
            setTimeout(function() {cellMove();}, 9000);
          }
          
          cellMove();
          
        </script>
      {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      By <a href= "https://www.linkedin.com/profile/view?id=357655813">
      Erica Johnson</a>, January 2015. (See the 
      <a href="https://github.com/EricaJohnson/cell_evolution">code</a>)
      {% endblock %}
    </div>
  </center>
  </body>
</html>