<!DOCTYPE html>
<html lang=”en”>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}Cell Evolution</title>
    <link href="static/style.css" rel="stylesheet">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    {% endblock %}
  </head>
  <body>
  <center>
    <div id="content">
      {% block header %}<h1 id="header">WELCOME TO CELL EVOLUTION!</h1>{% endblock %}
      {% block content %}
      <ul>
        {% for cell in data %}
          <li>{{ cell.color }}</li>
        {% endfor %}
      </ul>
        <svg width="700" height="600"> 
          
        </svg>
        <script>
          var data = {{ data }};
          console.log({{ data }});
          
          var svg = d3.select("svg");
        
          var circle = svg.selectAll("circle")
            .data(data, function(d) { return d; })

          circle.exit().remove();

          circle
            .enter().append("circle")
            .style("fill", function(d) { return d.color; })
            .attr("cx", function() { return Math.random() * 680; })
            .attr("cy", function() { return Math.random() * 580; });
          
          circle.style("stroke", "black");
          circle.style("stroke-width", "3");
          circle.attr("r", 15);
          
          function cellMove() {
            circle
              .transition()
              .duration(10000)
              .ease("linear")
              .attr("cx", function() { return Math.random() * 680; })
              .attr("cy", function() { return Math.random() * 580; });
            setTimeout(function() {cellMove();}, 9000);
          }
          
          cellMove();
          
        </script>
      {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      By <a href= "https://www.linkedin.com/profile/view?id=357655813">
      Erica Johnson</a>, January 2015. (See the 
      <a href="https://github.com/EricaJohnson/cell_evolution">code</a>)
      {% endblock %}
    </div>
  </center>
  </body>
</html>